.dark-blue {
  color: rgb(41, 57, 122);
}

.primary {
  background-color: rgb(41, 57, 122);
}

.secondary {
  background-color: (251, 246, 226);
}

.dark-blue {
  color: rgb(173, 235, 239);
}

.red {
  color: rgb(218, 47, 92);
}

.yellow {
  color: rgb(255, 193, 38);
}

.cream {
  color: rgb(251, 246, 226);
}
