#pluto-modal .modal-header {
    height: 6rem; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 4rem; 
  }

  #pluto-modal .btn-close{
    font-size: 0.6rem;
  }