#pluto-nav .nav-link{
    padding: 0.8rem 0;
    min-width: 9rem;
    text-align: left;
}

#pluto-nav .dropdown-menu{
    border: none;
}

#pluto-nav .desktop-link{
    display: none;
}

#nav-chevron {
    display: none;
}

.navbar-toggler{
    border: none !important;
}

.lower-links{
    display: block;
}

.dropdown-toggle::after{
    display: none;
}

.settings-dropdown{
    border-top: none;
    border-radius: 0px;
    width: 15.5rem;
    inset: 0.5rem auto auto 0px !important;
    margin-top: 3.6rem !important;
    margin-left: 0 !important;
}

.navbar-nav .nav-bottom-border{
    border-bottom: 1px solid #dee2e6;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .offcanvas .offcanvas-body{
        justify-content: center;
    }

    #pluto-nav .nav-link{
        padding: 1.2rem 0;
        text-align: center;
    }

    #pluto-nav .desktop-link{
        display: block;
    }
    
    #pluto-nav .mobile-link{
        display: none;
    }

    .navbar-nav .nav-bottom-border{
        border-bottom: none;
    }

    #pluto-nav .nav-link i{
        display: none;
    }

    #nav-chevron {
      display: block; 
      padding-right: 0.5rem;
    }

    .lower-links{
        display: none;
    }

  }